{% load static %}
<style>




    #action-column {
        width: 270px; /* Adjust the width as needed */
    
    }

    #phone {
        width: 80px; /* Adjust the width as needed */
    }
</style>
<h1>ELECTRONIC CARDS DETAILS</h1>
<br />
<thead class="table-dark">
    <tr>
        <th scope="col">CARD ID</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col" id="phone">PHONE</th>
        <!-- <th scope="col">SERVICE</th>
        <th scope="col">VALUE</th> -->
        <th scope="col">AMOUNT</th>
        <th scope="col" id="action-column">ACTION</th>
        <th scope="col">STATUS</th>
        <th scope="col">CREATED AT</th>
    </tr>
</thead>
