
{% block content %}
<br />
<h1>Записи по физическим картам на сумму</h1>


    <!-- Search Form -->
    <form id="search-form" hx-get="{% url 'search_physical_card_sum' %}" hx-target="#table-body-content2">
        <div class="d-flex justify-content-end mb-4">
            {% csrf_token %}
            <input type="text"
                hx-post="{% url 'search_physical_card_sum' %}" 
                hx-target='#table-body-content2'
                hx-trigger="keyup changed delay:500ms"
                name="search"
                class="form-control-sm mr-2" 
                placeholder="Search by ID..." />
        </div>
    </form>
    <!-- End Search Form -->

    
<div id="table-body-content2" class="table-responsive mt-3" style="padding-bottom: 5px;">
  <table id="record-table" class="table table-striped table-hover table-bordered" style="margin-left: 0px;">
      <thead class="table-dark">
          <tr>
              <th scope="col">CARD ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Action</th>
              <th scope="col">Status</th>
              <th scope="col">Created At</th>
          </tr>
      </thead>
      <tbody>
          {% if physical_cards_sum %}
          {% for record in physical_cards_sum %}
          <tr>
              <td>{{ record.uniquec }}</td>
              <td>{{ record.first_name }}</td>
              <td>{{ record.last_name }}</td>
              <td>{{ record.phone }}</td>
              <td>{{ record.type }}</td>
              <td>{{ record.amount }}</td>
             <td>
                <form method="POST" action="{% url 'physical_card_sum_deduct_amount' record.id %}">
                  {% csrf_token %}
                  <input type="number" name="deduct_amount" placeholder="Enter amount to deduct" required>
                  <button type="submit">Deduct</button>
              </form>
              </td>
              <td>{{ record.status }}</td>
              <td>{{ record.created_at }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
              <td colspan="10">No records found.</td>
          </tr>
          {% endif %}
      </tbody>
  </table>
</div>
</div>

</div>
</div>


<!-- End Main Content Section -->


{% endblock %}
